.body {
    overflow-x: hidden;
}
html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-main {
    flex: 1 0 auto; /* 🔥 핵심: footer를 아래로 밀어냄 */
}

.site-footer {
    flex-shrink: 0;
}